<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello, explorers!
    </p>
    <p>
        This new week has many adventures in store for you! Go check two new weekly activities and get to know all members of the Subvisual Universe. Find out who your friend of the week is and participate in the discussion of the weekly question.
    </p>
    <p>
      The world of connections has no limits in the Space Center. See it for yourself right now :)
    </p>
    <p>
      The Space Center team.
    </p>

  </body>
</html>